
/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&family=Poppins:ital,wght@0,500;1,400;1,500&display=swap');
.players{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
/* common styles or utilities */
body{
    font-family: 'Poppins' sans-serif;
    background-color: #9F9F9F;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffff;
    width: 870px;
    padding: 33px;
} 
/* top players section styles */
.topplayer-title{
   color: #562EFF;
   font-size: 24px;
   margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    /* grid template colume */
    grid-row-gap: 30px;
}
.top-players{
    margin-bottom: 30px;
}
.players img{
    width: 65px;
    height: 65px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 16px;
    font-size: 17px;
}
hr{
    border: 1px solid #D1D1D1;
}
/* blog area styles here */
.blog-title{
    font-size: 24px;
    color: #562EFF;
}
.blog-area{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 46px;
}
.blog-box{
    display: flex;
    align-items: center;
    gap: 20px;
}
.blog-box img{
    /* width: 217px; */
    height: 117px;
}
.blog-name{
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    color: #000000;
}
.caption{

    font-weight: 400;
    font-size: 16px;  
    color: #562EFF;
}
.caption a{
    text-decoration: none;
    color: #562EFF;
}
span{
    color: #9F9F9F;
}
/* ---------------------------
courses section design styles 
------------------------------*/
.courses{
    display: flex;
    gap: 20px;
    
}
.courses .coures-banner img{
   
    width: 224px;
    height: 104px;
}
.coures-dital{
    width: 224px;
}
.course-title{
    font-weight: 500;
    font-size: 20px;
    color: #1E1E1E;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star{
    font-size: 12px;
}
.fa-star.emty{
    color: #AEAEAE;
}